@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Alpha Website 4.0</h1>
    <p>Just do it. These differences are getting out of hand.</p>
</div>

<div>
    <p>Here is some more text.</p>
</div>